*{
    box-sizing: border-box;
}
@media (max-width: 576px) {
  .carousel-item.active {
    height: 30vh;
  }

  .carousel-item.active img {
    height: 100%;
    width: 100%;
  }
}
@media (max-width: 576px) {
  .carousel-item {
    height: 30vh;
  }

  .carousel-item.active img {
    height: 100%;
    width: 100%;
  }
}
