*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body { 
    overflow-x: hidden; 
}

@media (max-width: 576px) {
  
  /* 1. Fix container height so slide change timeil jump varilla */
  #carouselExampleControls,
  #carouselExampleControls .carousel-inner {
    height: 20vh !important;
    overflow: hidden;
  }

  /* 2. All slides same height compulsory */
  .carousel-item {
    height: 20vh !important;
    overflow: hidden;
  }

  /* 3. Active slide height consistency */
  .carousel-item.active {
    height: 20vh !important;
  }

  /* 4. Image always fits inside the box */
  .carousel-item img,
  .carousel-item.active img {
    height: 100% !important;
    width: 100% !important;
    display: block; /* prevent white gaps */
  }
}


